* {
    margin: 0;
    padding: 0;
    font-size: 24pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
}

.container {
    height: 100vh;
    overflow-y: hidden;
}

.top--container {
    display: flex;
    height: 77.5%;
}

.picture {
    
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    background-color: aqua;
    flex: 1;
}

.hello {
    background-color: yellow;
    flex: 5;
}

.footer {
    display: flex;
    height: 22.5%;
}

.maxomka {
    background-color: coral;
    flex: 4.25;
}

.jerry {
    background-color: plum;
    flex: 1;
}